ul, li{
	list-style-type: none;
	margin:0;
	padding:0 0 0 15px;    
}

div {
	text-align: center;
}

div.catmenu{
    float: left;
    margin: 0 20px 0 0;
}

div.optionsmenu{
    float: right;
    margin: 0 20px 0 0;
}

.optionsmenu li.mainoption {
	color: #dddddd;
	background-color: #333333;
	border-bottom: 1px solid black;
}

.optionsmenu li.suboption {
	color: #222222;
}

div.optionsmenu li{
	background-color: #555555;
	width: 200px;
}

body{ 
	background-color: #ffffff;
}

button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;

   width: 200px;
   
   padding: 5px 10px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
   
button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
   
button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }