ul, li{
	list-style-type: none;
	margin:0;
	padding:0 0 0 15px;    
}

input[type=range]{
    width: 150px;
}

div {
	text-align: center;
}

div.wrap {
	margin:0 auto;
	padding: 20px;
	text-align: left;
}

img.portrait {
	width: 400px;
	height: 400px;
}

div.portraitview {
	float: left;
    margin: 0 20px 0 0;
}

div.catmenu{
    float: left;
    margin: 0 20px 0 0;
}

div.catmenu ul{
	padding: 10px 15px 10px 0px;
	position: relative;
	background-color: #555555;
	width: 200px;
	border-radius: 20px;
}

div.optionsmenu{
    float: left;
    margin: 0 20px 0 0;
}

.optionsmenu li.mainoption {
	border-radius: 5px;
	color: #dddddd;
	background-color: #333333;
	border-bottom: 0px solid black;
}

.optionsmenu li.suboption {
	border-radius: 0px;
	color: #222222;
}

div.optionsmenu ul{
	padding: 10px 10px 10px 10px;
	position: relative;
	background-color: #555555;
	width: 300px;
	border-radius: 20px;
}

body{ 
	background-color: #ffffff;
	font-family: 'Orbitron', sans-serif;
}

button.racebtn{
	background: #65a9d7;

	width: 90px;
	height: 90px;
   
	padding: 10px 10px 10px 10px;
	border-radius: 8px;
	color: white;
	font-size: 14px;
}

button {
	background: #65a9d7;

	width: 180px;
	height: 94px;
   
	padding: 10px 10px 10px 10px;
	border-radius: 8px;
	color: white;
	font-size: 30px;
	font-weight: bold;
	font-family: 'Orbitron', sans-serif;
   }
   
button:hover {
   border-top-color: #28597a;
   background: #28597a;
   color: #ccc;
   }
   
button:active {
   border-top-color: #1b435e;
   background: #1b435e;
   }